@import "_reset";

html{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
}

body {
  color: white;
  background-color: black;

  .downIcon{
    position: fixed;
    right: 10%;
    bottom: 10%;
    font-size: 3rem;
  }

  main{
    transition: 1s;
    max-width: 1900px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    .intro {
      >figure{
        margin: 15% 0;
        text-align: center;
        >img {
          width: 50%;
        }
      }
    }
  
    .rooms {
      &.event{
        margin: 200px 0;
      }
      text-align: center;
      width: 100%;

      >p{
        margin: 0 auto;
        width: 50%;
        padding: 20px;
        border-radius: 30px;
        background-color: rgb(97, 0, 0);
      }

      >figure {
        margin: 5% 0;
        width: 100%;
        > img {
          width: 50%;
        }
      }

      .letter{
        font-size: 3rem;
        text-align: center;
        color: rgb(255, 255, 255);
        background-color: rgb(180, 0, 0);
      }

      .selects {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 5% auto;
        width: 60%;
        text-align: center;
    
        >a {
          text-decoration: none;
          color: white;
          margin: 0 30px;
          width: 100%;

          >p{
            width: 100%;
            margin: 3% 0;
          }

          >figure{
            max-width: 150px;
            margin: 0 auto;
            > img {
              width: 100%;
            }
          }
        }

        >form{
            text-decoration: none;
            color: white;
            margin: 0 30px;
            width: 100%;
  
            >p{
              width: 100%;
              margin: 3% 0;
            }
  
            >figure{
              max-width: 150px;
              margin: 0 auto;
              > img {
                width: 100%;
              }
            }
        }
    
        // &.room1_event1_sel{
        //   text-align: center;
        //   a {
        //     width: 450px;
        //   }
        // }
      }

      &.spaceSec{
        p {
          margin: 3% auto;
        }
        a {
          width: 100px;
          color: white;
          font-size: 2rem;
        }
      }
    }
  
  
  
    .ghostPop {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
  
      width: 100%;
      height: 100vh;
      text-align: center;
      
      position: relative;
  
      >figure {
        cursor: pointer;
        width: 100%;
        >img {
          object-fit: contain;
          width: 100%;
        }
      }
  
      .deadText{
        color: red;
        font-size: 3rem;
        position: absolute;
        bottom: 30%;
      }
    }
    
    .comment{
      margin: 5% 0;
      text-align: center;
      >p{
        margin: 5%;
      }
      .text{
        width: 30%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        >input{
          padding: 10px 0;
          text-align: center;
          margin: 10px auto;
        }
        >textarea{
          text-align: center;
          width: 400px;
          padding: 40px 0;
          margin: 10px 0;
        }
        >button{
          font-size: 1rem;
          background-color: #999999;
          border-radius: 30px;
          padding: 8px;
          // border: 3px solid #888888;

        }
      }
      .commentList{
        text-align: left;
        >.commentBox{
          // text-align: left;
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          padding: 10px;
          width: 200px;
          margin: 5px auto;
          color: rgb(255, 255, 255);
          >p{
            margin: 3% 0;
          }
          >div{
            >p{
              &:nth-of-type(1){
                font-weight: bold;
                font-size: 1.3rem;
              }
              &:nth-of-type(2){
                font-size: 1rem;
                color: grey;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {}
@media (max-width: 768px) {}
@media (max-width: 480px) {
  html{
    font-size: 10px;
  }
  body {    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    background-color: black;
  
    .downIcon{
      position: fixed;
      right: 45%;
      bottom: 5%;
      font-size: 3rem;
    }

    main{
      transition: 1s;
      max-width: 1900px;
      // display: flex;
      // justify-content: center;
      // align-items: center;

      .intro {
        >figure{
          margin: 15% 0;
          text-align: center;
          >img {
            width: 100%;
          }
        }
      }
    
      .rooms {
        &.event{
          margin: 200px 0;
        }
        text-align: center;
        width: 100%;
  
        >p{
          margin: 0 auto;
          width: 80%;
          padding: 20px;
          border-radius: 30px;
          background-color: rgb(97, 0, 0);
        }
  
        >figure {
          margin: 5% 0;
          width: 100%;
          > img {
            width: 100%;
          }
        }
  
        .letter{
          font-size: 3rem;
          text-align: center;
          color: rgb(255, 255, 255);
          background-color: rgb(180, 0, 0);
        }
  
        .selects {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          margin: 5% auto;
          width: 60%;
          text-align: center;
      
          >a {
            text-decoration: none;
            color: white;
            margin: 0 30px;
            width: 100%;
  
            >p{
              text-align: center;
              min-width: 50px;
              margin: 3% auto;
            }
  
            >figure{
              max-width: 150px;
              margin: 0 auto;
              > img {
                width: 100%;
              }
            }
          }
      
          // &.room1_event1_sel{
          //   text-align: center;
          //   a {
          //     width: 450px;
          //   }
          // }
        }
  
        &.spaceSec{
          p {
            margin: 3% auto;
          }
          a {
            width: 100px;
            color: white;
            font-size: 2rem;
          }
        }
      }
    
    
    
      .ghostPop {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    
        width: 100%;
        height: 100vh;
        text-align: center;
        
        position: relative;
    
        >figure {
          cursor: pointer;
          width: 200%;
          >img {
            object-fit: contain;
            width: 100%;
          }
        }
    
        .deadText{
          color: red;
          font-size: 3rem;
          position: absolute;
          bottom: 30%;
        }
      }
      
      .comment{
        text-align: center;
        .text{
          width: 20%;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          >input{
            text-align: center;
            margin: 10px auto;
          }
          >textarea{
            text-align: center;
          }
          >button{
            font-size: 1rem;
          }
        }
        .commentList{
          text-align: center;
          >li{
            padding: 30px;
            background-color: beige;
            width: 200px;
            margin: 30px auto;
            color: white;
          }
        }
      }
    }
  }
  }